


@font-face {
  font-family: 'Comfortaa';
  src: url(/src/assets/Comfortaa/static/Comfortaa-Medium.ttf);
}
@font-face {
  font-family: 'Comfortaa-light';
  src: url(/src/assets/Comfortaa/static/Comfortaa-Light.ttf);
}
@font-face {
  font-family: 'Comfortaa-bold';
  src: url(/src/assets/Comfortaa/static/Comfortaa-Bold.ttf);
}
@font-face {
  font-family: 'Playball';
  src: url(/src/assets/Playball/Playball-Regular.ttf);
}


// $blue-ish: #4145aa;
$blue-ish: #218c74;
$blue-ish: #474787;
$blue-ish: rgba(106,0,0);
$blue-ish: #6a93cb;
$blue-ish: #1e3799;
$blue-ish: #000;
$blue-ish: #78e08f;
$blue-ish: #079992;
$blue-ish: #2ed573;
$blue-ish: #14ae54;
$blue-ish: #089c46;
$blue-ish: #4145aa;
$blue-ish: #666;
$blue-ish: #3d3d3d;

$vf-color: #e60000;
$red-ish: #c00b2c;
$black-ish: #252131;
$border-color: #dee2e6
